<div class="container mt-4">

  <div class="card">
    <div class="card-header">
      <span class="h5 fw-bold">Listado de Pokemons</span>
    </div>

    <div class="card-body">

      <input class="align-middle" type="text" placeholder="Buscar">

      <button
        style="background-color: #FE4A49;"
        class="btn  float-end mb-3 fw-bold"
        routerLink="/create-pokemon">
        <i class="fas fa-plus"></i>
        Nuevo
      </button>

      <table class="table table-warning table-striped mt-4">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Imagen</th>
          <th scope="col">Tipo</th>
          <th scope="col">Ataque</th>
          <th scope="col">Defensa</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pokemon of pokemons" class="align-middle">
          <th scope="row">{{ pokemon.id | number}}</th>
          <td>{{ pokemon.name }}</td>
          <td>
            <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" width="70px" height="70px">
          </td>
          <td>{{ pokemon.type }}</td>
          <td>{{ pokemon.attack | number}}</td>
          <td>{{ pokemon["defense"] | number}}</td>
          <td>
            <i class="fas fa-edit fa-lg text-info me-3"></i>
            <i class="fas fa-trash-alt fa-lg text-danger"></i>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>


</div>


