<div class="container">
  <div class="row pt-4">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="text-center">{{ title }} Pokemon</h3>

          <div class="row text-center">
            <div class="col-md-12">
              <span *ngIf="submited && pokemonForm.invalid"
                    class="badge bg-danger">ERROR - VUELVA A INTENTARLO</span>
            </div>
          </div>


          <form class="mt-4"
                [formGroup]="pokemonForm"
                (ngSubmit)="addOrUpdatePokemon()">

            <!--Input Nombre-->
            <div class="row">
              <div class="col">
                <input
                  id="inputName"
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Nombre"
                  formControlName="name"
                />
              </div>
            </div>

            <!--Input Imagen -Tipo-->
            <div class="row mt-4">
              <div class="col">
                <input
                  id="inputImage"
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Imagen"
                  formControlName="image"
                />
              </div>
              <div class="col">
                <input
                  id="inputType"
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Tipo"
                  formControlName="type"
                />
              </div>
            </div>

            <!--Ataque-->
            <div class="row mt-4">
              <div class="col-md-2 text-end">
                <label for="inputAttack">Ataque:</label>
              </div>
              <div class="col-md-9">
                <input id="inputAttack" type="range" value="{{ attack }}" min="0" max="100"
                       (input)="onInputAttack($event)"
                       formControlName="attack"
                       class="form-range">
              </div>
              <div class="col-md-1">
                <output>{{ attack }}</output>
              </div>
            </div>

            <!--Defensa-->
            <div class="row mt-4">
              <div class="col-md-2 text-end">
                <label for="inputDefense">Defensa:</label>
              </div>
              <div class="col-md-9">
                <input id="inputDefense" type="range" value="{{ defense }}" min="0" max="100"
                       (input)="onInputDefense($event)"
                       formControlName="defense"
                       class="form-range">
              </div>
              <div class="col-md-1">
                <output>{{ defense }}</output>
              </div>
            </div>

            <!--Botones-->
            <div class="row mt-3">
              <div class="col-md-6 text-end">
                <button
                  class=""
                  style="background-color: #FE4A49;"
                  type="submit" class="btn btn-lg fw-bold">{{ title }}
                </button>
              </div>
              <div class="col-md-6 text-start">
                <button
                  type="text"
                  class="btn btn-secondary btn-lg ms-3 fw-bold"
                  routerLink="/list-pokemon">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
